.h-wrapper {
  background: var(--black);
  color: white;
}

.h-container {
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--secondary);
}

.h-menu {
  gap: 2rem;
}

.h-menu8 > *:hover {
  cursor: pointer;
}

.button {
  font-weight: 500;
  padding: 0.6rem 1.4rem;
  color: white;
  background: var(--blue-gradient);
  border: none;
  border-radius: 4px;
  transition: all 100ms ease-in;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
